@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>.Net Core Runs in Linux Containers!</h1>
    <p/>
    <p>There are @Request.Headers.Keys.Count.ToString() Keys in the Header of the Request.</p>
    <p>Wouldn't you like to know what they are? :)</p>
    <p/>
    <p><b>Someone with actual talent in creating an attractive user interface should manage this part.</b></p>
    <p/>
    <p/>
    <p/>
    <p/>
</div>
<img src="~/img/smiley.gif" alt="ImagineASmileyFaceHere" style="display: block; margin-left: auto; margin-right: auto;"/>
