@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is entirely private right now.  You can't get to it unless I tell you how.</p>
<p/>
<p>And, of course, there's no data to protect anyway...</p>
<p/>
<p/>
<p><b>THIS IS THE TEXT I ADDED DURING THE DEMO!!!!</b></p>
<p>And this text is considered <strong>STRONG</strong>.</p>
<p/>
<img src="~/img/privacy.png" alt="private" style="display: block; margin-left: auto; margin-right: auto;"/>
<p/>
<p/>
<p/>
<img src="~/img/transparent-rocks-animated-6.gif" alt="private" style="display: block; margin-left: auto; margin-right: auto;"/>
