@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is entirely private right now.  You can't get to it unless I tell you how.</p>
<p/>
<p>And, of course, there's no data to protect anyway...</p>
<p/>
<p/>
<img src="~/img/privacy.png" alt="private" style="display: block; margin-left: auto; margin-right: auto;"/>
